@model IEnumerable<ProjectCDTN_63132701.Models.san_pham>

@{
    ViewBag.Title = "Sản phẩm";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

}

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="~/Content/sanpham.css">
</head>

<div class="container mt-4">
    <h2 class="text-center mb-4">Sản phẩm nhẫn bạc</h2>

    <div class="row text-center">
        <!-- Sản phẩm 1 -->
        <div class="col-md-3">
            <div class="card">
                <img src="~/Images/nhan11.jpg" alt="Earrings" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Nhẫn Eternal Spark</h5>
                    <p class="card-text">Giá: 6.000.000 đ</p>
                    <a href="#" class="btn btn-outline-dark">Xem ngay</a>
                </div>
            </div>
        </div>
        <!-- Sản phẩm 2 -->
        <div class="col-md-3">
            <div class="card">
                <img src="~/Images/nhan2.jpg" alt="Bracelets" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Nhẫn đôi đính đá Solitaire </h5>
                    <p class="card-text">Giá: 5.000.000 đ</p>
                    <a href="#" class="btn btn-outline-dark">Xem ngay</a>
                </div>
            </div>
        </div>
        <!-- Sản phẩm 3 -->
        <div class="col-md-3">
            <div class="card">
                <img src="~/Images/nhan9.jpg" alt="Necklace" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Nhẫn Infinity </h5>
                    <p class="card-text">Giá: 1.650.000 đ</p>
                    <a href="#" class="btn btn-outline-dark">Xem ngay</a>
                </div>
            </div>
        </div>
        <!-- Sản phẩm 4 -->
        <div class="col-md-3">
            <div class="card">
                <img src="~/Images/nhan10.jpg" alt="Rings" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Nhẫn Queen</h5>
                    <p class="card-text">Giá: 2.990.000 đ</p>
                    <a href="#" class="btn btn-outline-dark">Xem ngay</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="~/Images/nhan5.jpg" alt="Rings" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Nhẫn True Vow</h5>
                    <p class="card-text">Giá: 5.990.000 đ</p>
                    <a href="#" class="btn btn-outline-dark">Xem ngay</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="~/Images/nhan6.jpg" alt="Rings" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Nhẫn Moonlight</h5>
                    <p class="card-text">Giá: 4.000.000 đ</p>
                    <a href="#" class="btn btn-outline-dark">Xem ngay</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="~/Images/nhan7.jpg" alt="Rings" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Nhẫn Harmony</h5>
                    <p class="card-text">Giá: 2.990.000 đ</p>
                    <a href="#" class="btn btn-outline-dark">Xem ngay</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="~/Images/nhan8.jpg" alt="Rings" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Nhẫn Twilight Shine</h5>
                    <p class="card-text">Giá: 2.500.000 đ</p>
                    <a href="#" class="btn btn-outline-dark">Xem ngay</a>
                </div>
            </div>
        </div>
    </div>
</div>



